In [5]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.3.0-cp313-cp313-win_amd64.whl.metadata (7.7 kB)
Downloading mysql_connector_python-9.3.0-cp313-cp313-win_amd64.whl (16.4 MB)
   ---------------------------------------- 0.0/16.4 MB ? eta -:--:--
    --------------------------------------- 0.3/16.4 MB ? eta -:--:--
   - -------------------------------------- 0.5/16.4 MB 1.8 MB/s eta 0:00:10
   - -------------------------------------- 0.8/16.4 MB 1.4 MB/s eta 0:00:12
   -- ------------------------------------- 1.0/16.4 MB 1.4 MB/s eta 0:00:11
   --- ------------------------------------ 1.6/16.4 MB 1.5 MB/s eta 0:00:10
   ----- ---------------------------------- 2.1/16.4 MB 1.8 MB/s eta 0:00:08
   ------- -------------------------------- 2.9/16.4 MB 2.0 MB/s eta 0:00:07
   ------- -------------------------------- 3.1/16.4 MB 2.1 MB/s eta 0:00:07
   -------- ------------------------------- 3.7/16.4 MB 2.1 MB/s eta 0:00:07
   --------- ------------------------------ 3.9/16.4 MB 2.1 MB/s eta 0:00:07
   ---------- ----------------------------- 4.5/16.4 MB 2.0 MB/s eta 0:00:06
   ------------ --------------------------- 5.0/16.4 MB 2.0 MB/s eta 0:00:06
   -------------- ------------------------- 5.8/16.4 MB 2.2 MB/s eta 0:00:05
   --------------- ------------------------ 6.3/16.4 MB 2.2 MB/s eta 0:00:05
   ---------------- ----------------------- 6.6/16.4 MB 2.2 MB/s eta 0:00:05
   ----------------- ---------------------- 7.1/16.4 MB 2.2 MB/s eta 0:00:05
   ----------------- ---------------------- 7.3/16.4 MB 2.1 MB/s eta 0:00:05
   ------------------- -------------------- 7.9/16.4 MB 2.1 MB/s eta 0:00:04
   ------------------- -------------------- 8.1/16.4 MB 2.1 MB/s eta 0:00:04
   -------------------- ------------------- 8.4/16.4 MB 2.1 MB/s eta 0:00:04
   --------------------- ------------------ 8.9/16.4 MB 2.1 MB/s eta 0:00:04
   --------------------- ------------------ 8.9/16.4 MB 2.1 MB/s eta 0:00:04
   ----------------------- ---------------- 9.4/16.4 MB 2.0 MB/s eta 0:00:04
   ----------------------- ---------------- 9.7/16.4 MB 2.0 MB/s eta 0:00:04
   ------------------------ --------------- 10.0/16.4 MB 1.9 MB/s eta 0:00:04
   ------------------------- -------------- 10.5/16.4 MB 2.0 MB/s eta 0:00:04
   -------------------------- ------------- 11.0/16.4 MB 2.0 MB/s eta 0:00:03
   ---------------------------- ----------- 11.8/16.4 MB 2.0 MB/s eta 0:00:03
   ------------------------------ --------- 12.3/16.4 MB 2.0 MB/s eta 0:00:02
   ------------------------------ --------- 12.6/16.4 MB 2.0 MB/s eta 0:00:02
   ------------------------------- -------- 12.8/16.4 MB 2.0 MB/s eta 0:00:02
   -------------------------------- ------- 13.4/16.4 MB 2.0 MB/s eta 0:00:02
   --------------------------------- ------ 13.6/16.4 MB 2.0 MB/s eta 0:00:02
   --------------------------------- ------ 13.9/16.4 MB 2.0 MB/s eta 0:00:02
   ----------------------------------- ---- 14.4/16.4 MB 2.0 MB/s eta 0:00:01
   ------------------------------------- -- 15.2/16.4 MB 2.0 MB/s eta 0:00:01
   -------------------------------------- - 15.7/16.4 MB 2.1 MB/s eta 0:00:01
   ---------------------------------------  16.3/16.4 MB 2.1 MB/s eta 0:00:01
   ---------------------------------------- 16.4/16.4 MB 2.1 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.3.0

In [6]:
import mysql.connector

In [10]:
mydb=mysql.connector.connect(
    host="localhost",
    user='rooter',
    password='rooter',
    #database='employees'
)
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001D8953AFD90>

In [30]:
cursor=mydb.cursor()

In [38]:
sql = "CREATE DATABASE IF NOT EXISTS employee"
cursor.execute(sql)

In [48]:
sql = """
CREATE TABLE IF NOT EXISTS salary (
    empid INT,
    firstname VARCHAR(100),
    lastname VARCHAR(100),
    email VARCHAR(50),
    phone VARCHAR(15),
    hire_date DATE,
    job_id VARCHAR(15),
    salary INT
)
"""

In [47]:
cursor.execute(sql)

In [18]:
import csv 
import datetime 
filename="employees1.csv"

In [50]:
with open(filename, 'r') as csvfile: 
    csvreader = csv.reader(csvfile) 
    header = next(csvreader)  

    for row in csvreader: 
        empid = int(row[0]) 
        firstname = row[1] 
        lastname = row[2] 
        email = row[3] 
        phone = row[4] 
        hire_date = datetime.datetime.strptime(row[5], '%d-%b-%y').date() 
        job_id = row[6] 
        salary = int(row[7]) 

        sql = """INSERT INTO salary
        (empid, firstname, lastname, email, phone, hire_date, job_id, salary)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s)"""
        
        val = (empid, firstname, lastname, email, phone, hire_date, job_id, salary)
        cursor.execute(sql, val)

mydb.commit()
print("Data inserted successfully")

Data inserted successfully